.length
{
    background-color: #556b2f;
    color: #fff;
    border-radius: 4px;
    max-width: 380px;
    margin-top: 1rem;
    padding: 1rem;
}
textarea:focus
{
    background-color: #dfff00 !important;
}

@media (max-width:420px)
{
    .length{
        width: 260px;
        font-size: 13px;
    }
    textarea{
        height: 150px;
        font-size: 14px !important;
    }
}